/** {*/
/*}*/
:root {
	--bg-primary-color : #2f4f4f;
	--bg-second-color : #447272;
	--word-primary-color : #ffffff;
	--word-second-color : #e7e7e7;
}

body {
	background-color: var(--bg-second-color);
	color: var(--word-primary-color);
	font-family: Arial, Helvetica, sans-serif;
}

#carrusel {
	display: none;
}

.titulo {
	text-align: center;	
	color: var(--word-second-color);
	padding: 10px;
}

.btnNav-container {
	background: var(--bg-primary-color);
	padding: 10px;
	position: sticky;
	top: 0;
}

#btn-nav {
	margin-left: 5px;
	cursor: pointer;
	font-size: 20px;
}

#btn-nav:hover {
	color: var(--word-second-color);
}

.nav {
	background: var(--bg-primary-color);
	position: sticky;
	top: 48.75px; /* for show the menu button */
	font-size: 20px;
	display: none;
}

.nav--show {
	display: block;
}


.nav__lista {
    display: flex; 
	flex-direction: column;
	list-style: none;
}

.nav__item {
	text-align: center;
	width: 100%;
}

.nav__link {
	display: block;
	padding: 10px 50px;
	font-weight: bold;
	text-align: start;
	color: var(--word-primary-color);
	transition: .5s background;
}

.nav__link:hover {
	background-color: var(--bg-second-color);
}

#container {
	max-width: 1300px;
	margin: auto;
	border-radius: 10px;
}

.tiempo {
	background-color: var(--word-second-color);
	color: #000;
	font-size: 18px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.banner-container {
	display: flex;
	max-height: 450px;
}

.presentacion {
	display: grid;
	padding: 10px;
	color: var(--word-second-color);
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.presentacion__titulo {
	grid-column: 1/3;
}

.presentacion__descr {
	grid-column: 1/3;
}

.presentacion__txt {
	text-align: justify;
}

.presentacion__img {
	grid-column: 1/3;
}

.locales {
	background: var(--bg-primary-color);
	padding-top: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.locales__titulo {
	text-align: center;
	grid-column: span 2;
}

.local {
	border: 1px solid var(--word-primary-color);
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	grid-column: span 2;
}

.local__mapa {
	min-width: 300px;
	min-height: 300px;
}

footer {
	padding: 1em;
	background: var(--bg-second-color);
	color: var(--word-second-color);
}

.redes {
	display: flex;
	justify-content: space-between;	 
	align-items: center;
	margin: 10px 0;
}

.redes h4 {
	font-size: 20px;
}

.redes__container {
	display: flex;
	gap: 10px;
}

.redes__a {
	color: #000;
}

.redes__a:visited {
	color: #000;
}

.redes i {
	font-size: 35px;
}

.copy {
	margin-top: 25px;
	text-align: center;
}
